@charset "utf-8";
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,form,input,p,button{margin:0;padding:0;}
img{display:block;border:0;}
em{font-style:normal;font-weight: bold;}
body{padding-bottom:0;}
.c999{color:#999;}
.bd_btm{border-bottom:1px solid #E4E4E4;}
.bd_top{border-top:1px solid #E4E4E4;}
.pd_btm10{padding-bottom:10px;}
.orange{color:#ff7f00;}
.fl{float: left;}
.fr{float: right;}

#event{background:#cc0000 url(//i0.ulecdn.com/i/event/2014/0310/top.jpg) top left repeat-x;}
#event_top{padding-bottom:20px;background:url(//i0.ulecdn.com/i/event/2014/0310/top_0.jpg) top center no-repeat;}
.event_top{width:950px;height:auto;margin:0 auto;}
/*fix*/

.event_top_1{
    position: relative;height: 191px;background: url(//i0.beta.ule.com/i/event/2018/0227/zjl_icon_02_01.jpg) top center no-repeat; }
.prize {
    position: absolute;
    width: 112px;
    height:22px;
    color:#650626;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
}
.event_top_1 .prize_1 {
    margin-right: 105px;
    top:169px;
    right:122px;
}
.event_top_1 .prize_2 {
    margin-right: 21px;
    top:169px;
    right:-10px;
}
.event_top_2{height: 190px;background: url(//i0.beta.ule.com/i/event/2018/0227/zjl_icon_02_02.jpg) top center no-repeat; position:relative;margin-bottom: -20px;}
/*fix*/
.event_top_2 a,.event_top_2 span{ position:absolute;top: 83px;right: 171px;width: 110px;height: 29px;}
.event_top_2 span{ background:#efd2a8;}
.event_top_2 a#goto_wallet{ background:url(//i0.ulecdn.com/i/event/2014/0310/btn_wallet.jpg) center no-repeat;}
.event_top_3{height: 96px;background:url(//i0.ulecdn.com/i/event/2014/0310/top_03.jpg) top center no-repeat;}
#event_con{padding-bottom:20px; background:#cc0000;}
.event_con{width:950px;margin:0 auto;}
.event_con .event_expect{ background:url(//i0.ulecdn.com/i/event/2015/0319/expect.jpg);height: 346px;}
.list{ background:#efd2a8;margin-bottom:20px;}
.list_top{height:60px;background:url(//i0.ulecdn.com/i/event/2014/0310/tit_bg.jpg) top left no-repeat;}
.list_top_1,.list_top_2,.list_top_3{float:left;width:160px;height:60px; background:url(//i0.ulecdn.com/i/event/2014/0310/tit.png) 0 0 no-repeat;}
.list_top_2{background-position:0 -60px;}
.list_top_3{background-position:0 -120px;}
.list_top ul{float:right;background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) 0 0 no-repeat;}
.list_top ul li{float:left;text-align:center;width:128px;height:46px;line-height:30px;color:#a10303;cursor:pointer;font-size:16px; font-family:"Microsoft Yahei";}
.list_top li.on_1{background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) 0px -50px no-repeat;}
.list_top li.on_2{background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) -128px -50px no-repeat;}
.list_top li.on_3{background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) -256px -50px no-repeat;}
.list_top li.on_4{background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) -384px -50px no-repeat;}
.list_top li.on_5{background:url(//i0.ulecdn.com/i/event/2014/0310/tit_2.jpg) -512px -50px no-repeat;}
.list_con{width:950px;}
#list_3 .list_con{ display:none;}
#list_3 #list_con_1{ display:block;}

.list_ul{width:950px;padding:15px 0;}
.list_ul2{ background:#f7e9d4;}
.list_li{float:left;width:225px; height:290px;margin:0 0 0 10px; background:#fff; display:inline; overflow:hidden;}
.list_li .li_img{float:left;width:210px;height:215px;padding:0 7px 0 8px;display:inline-block;position:relative;}
.list_li .li_img img{margin-bottom:5px;}
.list_li .li_link{float:left;width:210px;height:40px;padding:0 7px 0 8px;line-height:20px;margin-bottom:5px;display:inline-block;color:#333; overflow:hidden;}
.list_li .btn_buy{float:left;width:225px; height:30px; background:#c33030;display:inline-block; text-align:center;font:16px/30px "Microsoft Yahei";color:#fff;}
.list_li .btn_buy:hover{text-decoration:none;}
.list_li_over{display:none;}
#list_3{}
.list_3_1{background:#fee0b5;}
.list_3_2{background:#fec26c;}
.list_3_3{background:#f9b552;}
.list_3_4{background:#f39801;}
.list_3_5{background:#f38901;}
#list_3 .list_ul{padding:0 0 10px;}
#list_3 .list_ul .list_li{margin:5px 0 10px 10px;}
.event_bottom{width:950px; display:block;}
.postcard_rule h3,.postcard_qa h3,.more_qa{line-height:999px;overflow:hidden;background-image:url(//i0.ulecdn.com/i/event/2014/0310/bg_index.jpg); background-repeat:no-repeat;}
.postcard_rule{position:relative;padding-top:10px;border:solid 1px #eda923;margin:50px 0;}
.postcard_rule h3{position:absolute;display:block;top:0;margin:-15px 0 0 10px;width:110px;height:25px;background-position:0px -10px;}
#pc_rule_list{padding:10px;margin:0;color:#f4cb69; line-height:25px;font-size:13px;font-family:"\5B8B\4F53";}

.qa_tab{margin:0px 0 0 150px;}
.qa_tab li{float:left;text-align:center;width:155px;height:30px;line-height:30px;color:#a42121;margin-right:5px;cursor:pointer;background:url(//i0.ulecdn.com/i/event/2014/0310/bg_index.jpg) 0px -90px no-repeat;font-size:18px; font-family:"Microsoft Yahei";}
.qa_tab li.on{background-position:0px -50px;color:#b80000;}

.postcard_qa{position:relative;padding-top:10px;border:solid 1px #eda923;margin:0 0 50px;}
.postcard_qa h3{position:absolute;display:block;top:0;margin:-16px 0 0 10px;width:110px;height:26px;background-position:-108px -10px;}
.postcard_qa .more_qa{position:absolute;display:block;width:131px;height:38px;right:20px;cursor:pointer;background-position:0px -180px;}
.postcard_qa .up{background-position:0px -130px; display:none;}

.pc_qa_list{padding:10px 10px 0 10px;color:#f4cb69;_height:123px;}
.pc_qa_list li{margin-bottom:-1px;padding:10px 5px;border-bottom:solid 1px #eda923;line-height:20px;}
.pc_qa_list li div{*zoom:1;color:#f4cb69;font-family:"\5B8B\4F53";font-size:13px;}
.pc_qa_list li div:after{clear:both;content:"\0020";height:0;line-height:0;font-size:0;display:block;}
.pc_qa_list li div i{float:left;font-style:normal;padding-right:5px;}
.pc_qa_list li div span{float:left;width:800px;}

#tool{ position:fixed;width:100%;height:51px;background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) 0px -120px repeat-x;bottom:0px;display:none;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight))}
.tool{width:950px;height:51px;margin:0 auto; background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) 0px 0px;}
#tool a{float:left;width:141px;height:51px;line-height: 999px;margin-right:1px;overflow: hidden;cursor: pointer;}
#tool a#top_close{width:95px;}
#tool a.tool_1{background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) 0px -60px;}
#tool a.tool_2{background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) -142px -60px;}
#tool a.tool_3{background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) -284px -60px;}
#tool a.tool_4{background:url(//i0.ulecdn.com/i/event/2014/0310/nav.jpg) -426px -60px;}


/**新增样式**/
.event_top p{text-align:right;}
.event_top p a{width:112px; height:28px; display:inline-block;margin:5px 10px;background:url(//i0.ulecdn.com/i/event/2013/0312/btn_0328.jpg) no-repeat;}

#xingyunbox{padding-top:10px;}
#xingyunbox2{padding:30px 10px; text-align:center; line-height:25px; font-size:14px;color:#666;}
#xingyunbox2 .btn-orange{margin-top:10px;}
span.error {float:left;display:inline-block; padding:0 5px 0 20px; height:20px; line-height:20px; color:#CB4445; border:1px solid #E5A3A3; background:#ffcfcf url(/i/checkout/090326/error.png) no-repeat 5px 4px;font-size:12px;}
#xingyunbox dl.postcard-card { border-bottom:1px solid #E4E4E4; }
#xingyunbox dt { float:left; width:115px; text-align:right; height:22px; line-height:22px; padding:5px 5px 5px 0;}
#xingyunbox dd { margin-left:120px; height:22px; padding:5px 0;}
#xingyunbox dd div { height:30px;}
#xingyunbox dd input { height:20px; line-height:20px; border:solid 1px #bdbdbd; padding:0 5px; color:#666; width:100px; display:block; float:left; }
#xingyunbox dd input.txt-cardgroup{width:40px;}
#xingyunbox dd span.txt-mid{float:left;height:22px;line-height:22px;padding:0 5px;}
#xingyunbox span.error { margin-left:10px; }
#xingyunbox .verify-code{ height:45px;}
#xingyunbox .verify-code dd .w85 { width:80px; }
#xingyunbox .verify-code dd img { display:block; margin-left:5px; float:left; }
#xingyunbox .verify-code dd a { display:block; margin-left:5px; float:left; line-height:22px; }
#xingyunbox .verify-code dd .inputbox{width:70px;}

#xingyunbox dl.prize1{border-bottom:none;margin:0;}
#xingyunbox .prize1 dt,#xingyunbox .prize1 dd{height:40px;line-height:40px;}
#xingyunbox .prize1 dd div{ padding-top:10px;background:url(/i/event/2017/0307/prize_input_bg_new.jpg) 80px top no-repeat;}
#xingyunbox .prize1 dd div .txt-cardno{width:78px;height:19px;border:none;margin-left:56px; right:inherit;}
#xingyunbox .postcard-pwd{margin:5px 0;padding-bottom:10px;}

a.btn-orange { display:inline-block; padding:0 2px 0 0; background:#f93 url(/i/global/090412/btn01.png) no-repeat 100% 0; *display:inline; }
a.btn-orange em { display:inline-block; font-size:14px; color:#fff; height:36px; line-height:36px; padding:0 18px 0 20px; background:url(/i/global/090412/btn01.png) no-repeat 0 0; font-style:normal; font-weight:bold; cursor:pointer; }
a.btn-orange:hover { text-decoration:none; }


#quan{width:950px;margin:0 auto;padding:10px 0;}
#quan_tit{width:950px;height:39px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -50px repeat-x;}
#quan_tit span{width:180px; height:29px;padding:5px 0 5px 40px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px 0px no-repeat; display:inline-block;font: bold 20px/29px "Microsoft Yahei";color:#fff;}
#quan_con{width:902px;background:#fff;padding:15px 24px 20px; overflow:hidden;}

/**绑定奖券**/
.addquan_tit1,.addquan_tit2{width:902px;height:40px; background:url(//i0.ulecdn.com/i/event/2013/0312/bg_1.jpg) no-repeat;}
.addquan_tit2{background-position:0px -40px;}
.addquan_top{height:30px;padding:20px 0 0;border-bottom:3px solid #dedede;color:#333; line-height:30px;}
.addquan_top span{font-size:16px; font-weight:bold;}
.addquan_top a{color:#0066cb;margin-left:10px;}
#ulecardTip {background:#F5F5F5 url(//i0.ulecdn.com/i/event/2014/0310/prize_postcards.jpg?v=1) 0 0 no-repeat; display: none;height: 360px;position: absolute; width: 291px;}
.addquan_top span .tips{float:left;height:30px;font-size:12px;font-weight:normal; line-height:30px;}
#addquan_con dt { float:left; width:220px; text-align:right; height:22px; line-height:22px; padding:5px 5px 5px 0;}
#addquan_con dd { margin-left:230px; height:22px; padding:5px 0;}
#addquan_con dd div { height:29px;}
#addquan_con dd input { height:20px; line-height:20px; border:solid 1px #bdbdbd; padding:0 5px; color:#666; width:200px; display:block; float:left; }
#addquan_con dd input.txt-cardgroup{width:40px;}
#addquan_con dd span.txt-mid{float:left;height:22px;line-height:22px;padding:0 5px;}
#addquan_con span.error { margin-left:10px; }
#addquan_con .verify-code{ height:45px;padding-top:10px;}
#addquan_con .verify-code dd .w85 { width:80px; }
#addquan_con .verify-code dd img { display:block; margin-left:5px; float:left; }
#addquan_con .verify-code dd a { display:block; margin-left:5px; float:left; line-height:22px;color:#0066cb; }
#addquan_con .verify-code dd .inputbox{width:70px;}
#addquan_con dl.prize1{border-bottom:none;margin:0;}

#addquan_con .prize1 dt,#addquan_con .prize1 dd{height:40px;line-height:40px;}
#addquan_con .prize1 dd div{height:30px;padding-top:10px;background:url(//i0.ulecdn.com/i/event/2017/0307/prize_input_bg_new.jpg) 80px top no-repeat;}
#addquan_con .prize1 dd div .txt-cardno{width:78px;height:19px;border:none;margin-left:56px;}
#addquan_con .postcard-pwd{margin:5px 0;padding-bottom:10px;border-bottom:1px solid #E4E4E4;}
#addquan_con .add_submit_dl,#addquan_con .add_submit_dl dd{height:auto;display:inline-block;}

#addquan_con .add_btn{margin:0 10px;display:inline-block;}
#addquan_con .add_btn em{width:142px; height:36px;padding-left:30px; line-height:36px;display:inline-block;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -150px no-repeat;color:#333;font-size:14px;font-family:"Microsoft Yahei";}
#addquan_con .add_tip{margin:10px 0;color:#FF0000;display:inline-block;}
/**批量上传**/
.upload_tit{padding: 5px 5px 5px 130px;line-height: 25px;font-size:14px;color:#333;}
.upload_dl{ padding: 5px 5px 10px 160px;border-bottom:1px solid #E4E4E4;line-height:22px;}
.upload_dl a{color:#0066CB;}
.upload_dl .mt10{margin-top:10px;display:inline-block;}
/**绑定奖券成功**/
.add_ok_li{padding:15px 0 20px 270px; position:relative; line-height:22px;}
.add_ok_li_ico{ position:absolute;top:20px;left:180px;width:75px;height:75px; background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) -150px -190px no-repeat;}
.add_ok_li .tit{font-size:16px;color:#333;}
.add_ok_li_tip{padding:5px 10px;margin:5px 0;width:540px;border:1px solid #ffdeb0; background:#fffef7;}
.add_ok_li a{color:#0066CB;}
.add_ok_li .gotomoney{margin:0 10px;text-decoration: underline;}
.span_1{width:150px; display:inline-block; text-align:right;}
.span_2{width:30px;margin-right:5px;display:inline-block;text-align:right;}

/**订单列表页**/
.order_dl{height:auto;display:inline-block;margin-bottom:10px;border:1px solid #dedede; font-family:Arial,"\5B8B\4F53";}
.order_dtl{float:left;width:690px; height:30px;padding:5px 10px; display:inline;background:#eaeaea;border-top:1px solid #fff;border-right:1px solid #fff; line-height:30px;font-size:13px;}
.order_dtr{float:left;width:188px; height:40px; background:#eaeaea;border-top:1px solid #fff;border-left:1px solid #dedede;line-height:40px; text-align:center; font-size:14px;}
.order_ddl{float:left;width:690px; height:88px;padding:10px; display:inline;border-top:1px solid #dedede;border-right:1px solid #fff;line-height:25px;}
.order_ddr{float:left;width:188px; height:108px;border-top:1px solid #dedede;border-left:1px solid #dedede;text-align:center; line-height:108px;color:#333; }
.order_dtl a{color:#0066cb;margin-right:20px;}
.order_dtr a{color:#0066cb;}
.order_ddl img{float:left;width:80px;height:80px;border:1px solid #dedede;margin-right:10px; display:inline;}
/**分页**/
.order_page{ height:25px; overflow:hidden; text-align:right;}
.order_page a{margin:0 5px; color:#999;}
.order_page a.selected{color:#000000; font-weight:bold;cursor:default; text-decoration:none;}
.order_page .pageupon{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) 0 -13px no-repeat; display:inline-block; height:13px;  width:13px; overflow:hidden; text-indent:999px; overflow:hidden; line-height:13px;}
.order_page .pageupoff{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) 0 0 no-repeat; display:inline-block; height:13px;  width:13px; overflow:hidden; cursor:context-menu; text-indent:999px; overflow:hidden; line-height:13px;}
.order_page span.pageupoff{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) 0 0 no-repeat; display:inline-block; height:13px;  width:13px;margin:0 5px; overflow:hidden;cursor:context-menu; text-indent:999px; overflow:hidden; line-height:13px;}
.order_page .pagedownon{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) -13px -13px no-repeat; display:inline-block; height:13px;  width:13px; overflow:hidden; text-indent:999px; overflow:hidden; line-height:13px;}
.order_page .pagedownoff{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) -13px 0 no-repeat; display:inline-block; height:13px;  width:13px; overflow:hidden;cursor:context-menu; text-indent:999px; overflow:hidden; line-height:13px;}
.order_page span.pagedownoff{background:url(http://i0.ule.com/i/search/090609/icopagenext.png) -13px 0 no-repeat; display:inline-block; height:13px;  width:13px;margin:0 5px; overflow:hidden;cursor:context-menu; text-indent:999px; overflow:hidden; line-height:13px;}
/**订单详情页**/
.order_head{border:1px solid #ffbb59;font-family:Arial,"\5B8B\4F53"; line-height:30px;margin-bottom:10px;}
.order_headt{border-bottom:1px solid #ffbb59; background:#fffceb;padding:5px 10px;font-size:14px;color:#000;}
.order_headb{padding:5px 10px;}
.order_head a{float:right;margin:6px 15px 0 0;width:82px;height:27px; text-align:center; line-height:27px; display:inline; background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -220px no-repeat;color:#fff; font-weight:bold;}
.order_body{ background:#f8f8f8;padding:0 21px 10px;}
.order_tit{padding:10px 10px 0; font-size:14px; line-height:30px;font-weight:bold;color:#333;}
.order_list{display:inline-block;}
.order_list_top,.order_list_footer{float:left;width:860px;height:25px;  background:url(//i0.ulecdn.com/i/event/2013/0312/bg_1.jpg) 0px -80px no-repeat;}
.order_list_footer{ background-position:0px -105px;}
.order_list_con{float:left;width:810px;height:auto;padding:0 25px; display:inline;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_2.jpg) repeat-y;position:relative;}
.order_ul{display:inline-block;padding-bottom:10px; }
.order_ul li{float:left;width:405px;height:30px;padding:5px 0; display:inline;line-height:30px; text-align:center; border-bottom:1px dashed #d8d8d8;}
.order_ul .li_top{ background:#f3f3f3;padding:0;border-bottom:none;}
.order_ul li .li_1,.order_ul li .li_2,.order_ul li .li_3{float:left;width:200px;height:30px;}
.order_ul li .li_2{width:100px;}
.order_ul li .li_3{width:100px;}
.order_ul li .li_1 a{color:#0066CB;}
.order_ul2{display:inline-block;padding-bottom:10px;}
.order_ul2 li{float:left;width:405px;height:30px;padding:5px 0; display:inline;line-height:30px; text-align:center; border-bottom:1px dashed #d8d8d8;}
.order_ul2 .li_top{ background:#f3f3f3;padding:0;border-bottom:none;}
.order_table{width:810px; text-align:center; vertical-align:middle; line-height:20px;margin-bottom:10px;}
.order_table th{background:#f3f3f3;padding:5px 0;font-weight:normal;}
.order_table td{padding:10px 10px;border-bottom:1px dashed #d8d8d8;}
.order_table td a{color:#0066CB;}
.order_table td.text_l{text-align:left;}
#order_box{position:absolute;left:180px;top:40px;width:420px; height:auto;padding:5px;background:#fffef7;border:1px solid #ffdeaf;display:none;}
.order_boxt{height:20px;padding:5px 0 5px 10px;border-bottom:1px solid #ffdeaf; }
.order_boxt span{font-size:14px;color:#ff7e00; font-weight:bold;}
.order_boxt a{float:right;width:45px;height:20px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -190px no-repeat;}
.order_boxtit{ background:#fffce5;margin:5px 0;padding:5px 10px; line-height:20px; font-weight:bold;color:#575757;}
.order_boxtit span{margin-left:40px;}
.order_boxul{ height:75px; overflow:hidden;}
.order_boxul li{padding:0 10px;line-height:25px;}
.allmost{ position:absolute;bottom:5px; right:10px;width:40px; height:20px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) -50px -190px no-repeat;}
.noallmost{background-position:-90px -190px;}

/**奖券钱包**/
.wallet_link{float:right;width:82px;height:27px; text-align:center; line-height:27px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -220px no-repeat;color:#fff; font-weight:bold;}
.wallet_btn{padding:10px 0 0 215px;}
.wallet_btn a{float:left;}
.wallet_btn span{margin-left:10px; line-height:22px; display:inline-block;}
#wallet_box{position:absolute;left:220px;top:30px;width:380px; height:200px;padding:5px;background:#fffef7;border:1px solid #ffdeaf;display: none;}
.wallet_boxt{height:20px;padding:5px 0 5px 10px;border-bottom:1px solid #ffdeaf; }
.wallet_boxt span{font-size:14px;color:#ff7e00; font-weight:bold;}
.wallet_boxt a{float:right;width:45px;height:20px;background:url(//i0.ulecdn.com/i/event/2013/0312/bg_all.jpg) 0px -190px no-repeat;}
.wallet_ul{display:inline-block;padding:5px 0 10px;}
.wallet_ul li{float:left;width:190px;height:25px;line-height:25px; text-align:center; }
.wallet_ul .li_top{ background:#FFFCE5;}

/**选择订单查询方式**/
.ccq ul{margin:10px 0 0;padding:0}
.ccq li{float:left;width:230px;height:112px;margin:0 0 5px 10px;display:inline;background:url(//i0.ulecdn.com/i/event/2012/1205/b1.png) no-repeat;padding-top:20px;text-align:center;cursor:pointer;}
.ccq li.selected{background:url(//i0.ulecdn.com/i/event/2012/1205/b2.png);color:#af0505}
.ccq li.first{margin-left:0}
.ccq li label{font:24px '微软雅黑';cursor:pointer}
.ccq li span{display:block;margin-top:30px}
.qform{background:#fafafa;border:1px solid #e1e1e1;font-size:14px;padding-bottom:20px}
.qform p{clear:both;line-height:27px;padding:10px 0 0 20px;margin:0;_zoom:1}
.qform p span.red{font-size:16px;font-weight:bold;color:#f00}
.qform .dot{float:left;background:url(//i0.ulecdn.com/i/event/2012/1205/dot.png) no-repeat 0 8px;padding-left:12px}
.qform .intxt{float:left;margin-right:10px;padding:3px}
.qform .fs{float:left;margin-right:10px}
.qform .intxt input{float:left;width:200px;height:25px;line-height:25px;padding:0 4px;margin:0;border:1px solid #bdbdbd;background:#fff;color:#666;margin-right:10px}
.qform .moreOrders{font-size:14px}
.qform .moreOrders .intxt{margin-left:152px}
.qform .add{margin:0  20px 0 152px;float:left;width:70px;height:23px;line-height:23px;background:url(//i0.ulecdn.com/i/event/2012/1205/t6.png) no-repeat;padding-left:25px;text-decoration:none;font-size:12px}
.qform .view,
.qform .delete{font-size:12px;color:#16c;text-decoration:underline}
.qform .submit{margin-left:200px;display:block;width:100px;height:35px;line-height:35px;color:#fff;text-align:center;background:url(//i0.ulecdn.com/i/event/2012/1205/t3.png) no-repeat;font-weight:bold;}
.qform .line{border-top:1px dotted #e1e1e1;margin-top:10px}
#getCode{float:left;margin-top:5px;width:95px;height:23px;font-size:12px;line-height:23px;background:url(//i0.ulecdn.com/i/event/2012/1205/t2.png) no-repeat;color:#8b4d43;text-align:center}
.qform .reGetCode{height:23px;line-height:23px;border:0;padding:0;margin-top:5px;width:145px;background:url(//i0.ulecdn.com/i/event/2012/1205/t5.png) no-repeat}


.add_ok_li{padding-left:200px;}
.add_ok_li_ico{left:100px;}
.quan_down{margin:10px 0;color:#666; font-weight:bold;height:30px;line-height:30px;}
.span_1{width:150px; display:inline-block; text-align:right;}
.span_2{width:30px;margin-right:5px;display:inline-block;text-align:right;}
#go_luckcard,#go_luckcard em{background:#c50000;color:#efd2a8;height:36px; line-height:36px;font-size:16px;}
#go_luckcard em{padding:0 25px;}
#go_luckcard{margin-left:150px;padding:0;}
.add_ok_li .quan_down_link{width:130px;padding-right:10px;display:inline-block;text-align:center;background:#e26666 url(//i0.ulecdn.com/i/event/2014/0310/down.png) right 5px no-repeat;height:30px; line-height:30px;color:#fff;}

/* 新增定时递 */
#luckcard .card-tab{background:#a60000;}
#luckcard .card-tab ul{margin:0 auto;width:950px;height:60px;background:url(/i/event/2017/0307/tab_bg.jpg) no-repeat;}
#luckcard .card-tab ul li{width:475px;height:60px;float:left;cursor:pointer;}
#luckcard .card-tab ul li div.iTab{height:60px;background:url(/i/event/2017/0307/tab_bg.jpg) no-repeat -9999px -9999px;}
#luckcard .card-tab ul li.on div.iTab1{background-position:0 -60px;}
#luckcard .card-tab ul li.on div.iTab2{background-position:-475px -60px;}
.iMain{display:none;}
#event.on{display:block;}
#Timed.on{display:block;}
#Timed{background:url(/i/event/2017/0307/timed/banner_bg.jpg) no-repeat center top #fffde6;font-family:'Microsoft YaHei';}
#Timed .timed-main{width:950px;margin:0 auto;}
#Timed .timed-main div.banner ul li{width:950px;height:200px;background:url(//i0.ulecdn.com/ule/header/images/loading.gif) no-repeat center center #e8272c;}

/* 定时递订单信息 */
.order-info-query{width:802px;margin:0 auto;}
.order-info-query .info-top{height:50px;background:url(/i/event/2017/0307/timed/prize_info_icon_01.jpg) no-repeat;}
.order-info-query .info-bottom{height:20px;background:url(/i/event/2017/0307/timed/prize_info_icon_01.jpg) no-repeat 0 -50px;}
.order-info-query .info-content{background:#fff;border:2px solid #e8272c;border-top:none;border-bottom:none;padding:0 20px;}
.info-content .query-param{width:420px;margin:0 auto;padding:20px 0;}
.info-content .query-param input{padding:0 10px;border:1px solid #dedede;outline:none;font-size:18px;height:58px;line-height:58px;color:#333;}
.prize-gather,.p-validate{height:60px;padding:10px 0;}
.prize-gather .p-group,.prize-gather em.line,.prize-gather .p-code{float:left;}
.prize-gather .p-group{width:150px;height:60px;}
.prize-gather .p-group input{width:128px;}
.prize-gather em.line{width:20px;height:1px;overflow:hidden;background:#c3c3c3;margin:30px 5px 0 5px;}
.prize-gather .p-code{width:220px;height:60px;}
.prize-gather .p-code input{width:218px;}
.p-validate input{width:398px;}
.info-content .query-param .query-btn{height:60px;line-height:60px;border-radius:5px;background:#e8272c;text-align:center;font-size:20px;color:#fff;cursor:pointer;margin-top:20px;}

/* 查询成功 */
.package-info{display:none;border-top:1px solid #dedede;}
.package-info .timed-card-code{height:42px;line-height:42px;color:#333;padding:0 38px;font-size:16px;}
.package-info .prize-wares{height:100px;padding:0 38px;}
.prize-wares ul{margin-left:-11px;}
.prize-wares ul li{float:left;margin:0 11px;position:relative;border:1px solid #dedede;padding:1px;width:86px;height:86px;background:url(//i0.ulecdn.com/ule/header/images/loading.gif) no-repeat center center;}
.prize-wares ul li.on{padding:0px;border:2px solid #e8272c;}
.prize-wares ul li img{width:86px;height:86px;display:none;}

/* .prize-wares ul li.on img{
    width: 86px;
    height: 86px;
} */
.prize-wares ul li.on i{position:absolute;width:13px;height:6px;left:50%;margin-left:-6px;bottom:-8px;background:url(/i/event/2017/0307/timed/icon_01.jpg) no-repeat -46px 0;}
.package .number-info{height:46px;padding:0 38px;font-size:16px;color:#666;background:#f3f3f3;line-height:46px;}
.package .number-info .order-number{float:left;}
.package .number-info .pack-number{float:right;}
.logistic{padding:0 38px;}
.logistic .logistic-loca{height:260px;margin-top:10px;overflow:hidden;overflow-y:auto;position:relative;}
.logistic-loca::-webkit-scrollbar{width:14px;height:0;background:#e8e8e8;border-radius:10px}
.logistic-loca::-webkit-scrollbar-thumb:vertical{background:#c2c2c2;border-radius:10px}
.logistic-loca::-webkit-scrollbar-thumb:vertical:hover{background:#999;border-radius:10px}
.logistic .logistic-loca ul li{position:relative;padding-top:8px;}
.logistic .logistic-loca ul li i{position:absolute;width:4px;height:4px;top:15px;left:0px;background:url(/i/event/2017/0307/timed/icon_01.jpg) no-repeat;background-position:-66px 0;}
.logistic .logistic-loca ul li.on i{background-position:-62px 0;}
.logistic .logistic-loca ul li .loca{line-height:18px;padding-left:10px;}
.logistic .logistic-loca ul li .time{line-height:20px;padding-left:10px;}
.logistic .logistic-loca ul li.on{color:#e8272c;}
.logistic .logistic-page{height:40px;margin-top:10px;}
.logistic .logistic-page .page-gather{float:right;margin-top:9px;}
.page-gather #page-prev,.page-gather #page-next{float:left;width:22px;height:22px;cursor:pointer;background:url(/i/event/2017/0307/timed/icon_01.jpg) no-repeat;}
.page-gather #page-prev.disable{background-position:0 -22px;}
.page-gather #page-next{background-position:-22px 0;}
.page-gather #page-next.disable{background-position:-22px -22px;}
.page-gather .page-num{float:left;height:22px;line-height:22px;font-size:16px;padding:0 10px;}
.prize-show{background:url(/i/event/2017/0307/timed/j_icon.jpg) no-repeat center top;margin-top:30px;}
.prize-show .prize-show-main{width:950px;height:430px;margin:0 auto;position:relative;}
.prize-show .prize-title{width:440px;height:59px;margin:0 auto;background:url(/i/event/2017/0307/timed/prize_title.jpg) no-repeat;}
.prize-shop{width:732px;margin:0 auto;}
.prize-shop ul li{width:316px;height:368px;float:left;}
.prize-shop ul li.iTem1{background:url(/i/event/2017/0307/timed/prize_01.png) no-repeat;_background:url(/i/event/2017/0307/timed/prize_01_ie6.png) no-repeat;margin-right:50px;}
.prize-shop ul li.iTem2{background:url(/i/event/2017/0307/timed/prize_02.png) no-repeat;_background:url(/i/event/2017/0307/timed/prize_02_ie6.png) no-repeat;margin-left:50px;}
.activity-rule{margin-top:50px;background:#e8272c;padding:50px 0;color:#fff;font-size:14px;}
.activity-rule .act-rule-main{width:896px;border:2px solid #fff;margin:0 auto;padding:35px 25px 25px 25px;position:relative;}
.activity-rule .act-rule-main .rule-title{position:absolute;top:-22px;height:40px;font-size:28px;background:#e8272c;padding:0 10px;}
.activity-rule .act-rule-main p{margin-top:5px;}
.activity-rule .act-rule-main p.no{margin-top:0;}